h1{
    color: crimson;
}

img{
    width: 400px
}


body {
    background: red;
    text-align: center;
    background-image: url(fondo.jpg);
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background: salmon;
    padding: 50px;
    border: 2px solid black;
    margin: auto;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}